@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-pretendard: "Pretendard", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;
  --font-gmarket-sans: "GmarketSans", sans-serif;

  /* ========== Border Radius ========== */
  --radius: 0.625rem;
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* ========== Color Variables ========== */
  --primary: #ff720d;
  --primary-black: #1c1c1c;

  --gray-1: #828282;
  --gray-2: #b4b4b4;
  --gray-3: #e4e4e4;
  --gray-4: #f2f4f6;
  --gray-5: #fbfbfb;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer utilities {
  /* 쉐도우 */
  .shadow-original {
    box-shadow: 0px 0px 100px 0px #e3ffcd40;
  }
  /* 그라데이션 */
  .bg-gradient {
    background: linear-gradient(180deg, #102b24 0%, #2b6858 100%);
  }

  /* ========== Font Family ========== */
  .font-pretendard {
    font-family: var(--font-pretendard);
  }

  .font-unbounded {
    font-family: var(--font-unbounded);
  }

  .font-gmarket-sans {
    font-family: var(--font-gmarket-sans);
  }

  /* ========== Typography ========== */
  .text-logo {
    font-family: var(--font-unbounded);
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -4%;
    font-weight: 800;
  }

  .text-title-1 {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -3.5%;
    font-weight: 500;
  }

  /* ========== Border Radius ========== */
  .rounded-lg {
    /* 12px */
    border-radius: var(--radius);
  }

  .rounded-md {
    /* 10px */
    border-radius: var(--radius-md);
  }

  .rounded-sm {
    /* 6px */
    border-radius: var(--radius-sm);
  }

  /* ========== Primary ========== */
  .text-primary {
    color: var(--primary);
  }
  .bg-primary {
    background-color: var(--primary);
  }
  .border-primary {
    border-color: var(--primary);
  }

  .text-primary-black {
    color: var(--primary-black);
  }
  .bg-primary-black {
    background-color: var(--primary-black);
  }
  .border-primary-black {
    border-color: var(--primary-black);
  }

  /* ========== gray ========== */
  .text-gray-1 {
    color: var(--gray-1);
  }
  .bg-gray-1 {
    background-color: var(--gray-1);
  }
  .border-gray-1 {
    border: 2px solid var(--gray-1);
  }

  .text-gray-2 {
    color: var(--gray-2);
  }
  .bg-gray-2 {
    background-color: var(--gray-2);
  }
  .border-gray-2 {
    border: 2px solid var(--gray-2);
  }

  .text-gray-3 {
    color: var(--gray-3);
  }
  .bg-gray-3 {
    background-color: var(--gray-3);
  }
  .border-gray-3 {
    border: 2px solid var(--gray-3);
  }

  .text-gray-4 {
    color: var(--gray-4);
  }
  .bg-gray-4 {
    background-color: var(--gray-4);
  }
  .border-gray-4 {
    border: 2px solid var(--gray-4);
  }

  .text-gray-5 {
    color: var(--gray-5);
  }
  .bg-gray-5 {
    background-color: var(--gray-5);
  }
  .border-gray-5 {
    border: 2px solid var(--gray-5);
  }
}
@layer base {
  p,
  span {
    @apply whitespace-pre-line;
  }

  button {
    @apply cursor-pointer;
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tab: 650px;
  --breakpoint-web: 1024px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
