@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-pretendard: "Pretendard", sans-serif;

  /* ========== Border Radius ========== */
  --radius: 0.625rem;
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* ========== Color Variables ========== */
  --primary: oklch(0.205 0 0);
  --primary-strong: #58ffbf;
  --primary-gradient: #102b24;
  --primary-foreground: oklch(0.985 0 0);

  --label-strong: #000000;
  --label: #2a2832;
  --label-natural: #5e616e;
  --label-alternative: #a7a9b4;
  --label-assistive: #c8c9d0;

  --background-natural: #eeeff1;
  --background-alternative: #f9fafa;

  --line: #eeeff1;
  --line-alternative: #f9fafa;
  --line-strong: #d6d7dc;

  --status-error: #e82929;

  --component: #a7a9b4;
  --component-strong: #d6d7dc;
  --component-dimmer: rgba(0, 0, 0, 0.7);
  --component-alternative: #f4f4f6;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer utilities {
  /* 쉐도우 */
  .shadow-original {
    box-shadow: 0px 0px 100px 0px #e3ffcd40;
  }
  /* 그라데이션 */
  .bg-gradient {
    background: linear-gradient(180deg, #102b24 0%, #2b6858 100%);
  }

  /* ========== Font Family ========== */
  .font-pretendard {
    font-family: var(--font-pretendard);
  }

  .font-hakgyo-ansim {
    font-family: var(--font-hakgyo-ansim);
  }

  /* ========== Typography ========== */
  .text-title-l {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.3%;
    font-weight: 700;
  }

  .text-title-m {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.3%;
    font-weight: 700;
  }

  .text-title-xs {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.3%;
    font-weight: 700;
  }

  .text-title-1 {
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    font-weight: 400;
  }

  .text-title-2 {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0%;
    font-weight: 400;
  }

  .text-title-3 {
    font-family: var(--font-hakgyo-ansim);
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    font-weight: 400;
  }

  .text-subtitle-l {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.3%;
    font-weight: 600;
  }

  .text-subtitle-s {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.3%;
    font-weight: 600;
  }

  .text-body-l {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.3%;
    font-weight: 400;
  }

  .text-body-m {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.3%;
    font-weight: 400;
  }

  .text-body-s {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.3%;
    font-weight: 400;
  }

  .text-caption {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.3%;
    font-weight: 400;
  }

  /* ========== Border Radius ========== */
  .rounded-lg {
    /* 12px */
    border-radius: var(--radius);
  }

  .rounded-md {
    /* 10px */
    border-radius: var(--radius-md);
  }

  .rounded-sm {
    /* 6px */
    border-radius: var(--radius-sm);
  }

  /* ========== Primary ========== */
  .text-primary {
    color: var(--primary);
  }
  .text-primary-foreground {
    color: var(--primary-foreground);
  }
  .bg-primary {
    background-color: var(--primary);
  }
  .border-primary {
    border-color: var(--primary);
  }

  .text-primary-strong {
    color: var(--primary-strong);
  }
  .bg-primary-strong {
    background-color: var(--primary-strong);
  }

  .bg-primary-gradient {
    background-color: var(--primary-gradient);
  }

  /* ========== Label Colors ========== */
  .text-label-strong {
    color: var(--label-strong);
  }
  .text-label {
    color: var(--label);
  }
  .text-label-natural {
    color: var(--label-natural);
  }
  .text-label-alternative {
    color: var(--label-alternative);
  }
  .text-label-assistive {
    color: var(--label-assistive);
  }

  /* ========== Component Colors ========== */
  .text-component-alternative {
    color: var(--component-alternative);
  }
  .bg-component-alternative {
    background-color: var(--component-alternative);
  }

  /* ========== Background ========== */
  .bg-background {
    background-color: var(--background);
  }
  .bg-background-natural {
    background-color: var(--background-natural);
  }
  .bg-background-alternative {
    background-color: var(--background-alternative);
  }

  /* ========== Line ========== */
  .border-line {
    border-color: var(--line);
  }
  .text-line {
    color: var(--line);
  }
  .text-line-alternative {
    color: var(--line-alternative);
  }
  .border-line-alternative {
    border-color: var(--line-alternative);
  }
  .bg-line-alternative {
    background-color: var(--line-alternative);
  }
  .border-line-strong {
    border-color: var(--line-strong);
  }

  /* ========== Status ========== */
  .text-status-error {
    color: var(--status-error);
  }
  .bg-status-error {
    background-color: var(--status-error);
  }
  .border-status-error {
    border: 2px solid var(--status-error);
  }

  /* ========== Component ========== */
  .text-component {
    color: var(--component);
  }
  .text-component-strong {
    color: var(--component-strong);
  }

  .bg-component-dimmer {
    background-color: var(--component-dimmer);
  }
}
@layer base {
  p,
  span {
    @apply whitespace-pre-line;
  }

  button {
    @apply cursor-pointer;
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tab: 650px;
  --breakpoint-web: 1024px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
